# Binaries
sentinel2-go
*.exe
*.dll


# Downloaded data
sentinel2_data/
sentinel2_test_data/
sentinel2_stretch_test/

# GDAL bundled data
share/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Go
vendor/
