# Binaries
sentinel2-go
*.exe
*.exe~
*.dll
*.rar


# Downloaded data
sentinel2_data/
sentinel2_test_data/
sentinel2_stretch_test/

# GDAL bundled data
share/
*.tif


# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Go
vendor/


# Secret
settings.json
PRIVATE.md